---
Language:        Cpp
BasedOnStyle:  LLVM
AccessModifierOffset: -4
Standard:        c++20
IndentWidth:     4
TabWidth:        4
UseTab:         Always
ColumnLimit:     180
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: false
BreakBeforeBinaryOperators: All
#EmptyLineAfterAccessModifier: true
AllowShortFunctionsOnASingleLine: InlineOnly
IndentPPDirectives: BeforeHash
SortIncludes:  Never
BreakBeforeBraces : Allman
BreakAfterReturnType: None
AlwaysBreakAfterReturnType: None
BraceWrapping:
 AfterEnum:	true
 AfterStruct:	true
 AfterCaseLabel:	true
 AfterClass:	true
 AfterControlStatement:	Always
 AfterFunction:	true
 AfterNamespace:	true
 BeforeLambdaBody : true
NamespaceIndentation: All
